@use 'styles/utils' as ut;
@use 'styles/variables' as vars;

.services-menu {
  position: fixed;
  top: 87px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #342633;
  overflow: auto;
  z-index: 2;

  @include ut.tablet {
    top: 84px;
    background-color: #291f29;
  }

  display: none;

  &_active {
    display: flex;
    justify-content: center;
  }

  &__container {
    display: flex;
    flex-direction: column;

    &_mobile {
      gap: 26px;
      padding: 17px 0 20px 0;
      width: 320px;

      @include ut.tablet {
        display: none;
      }
    }

    &_tablet {
      display: none;

      @include ut.tablet {
        display: flex;
        flex-direction: row;
        width: 729px;
      }

      @include ut.desktop {
        width: 1200px;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 2.2rem 2rem;

    @include ut.desktop {
      display: none;
    }
  }

  &__grid {
    display: none;
    @include ut.desktop {
      display: flex;
    }

    flex-direction: column;

    padding: 3rem;
    gap: 32px;

    &-content {
      display: flex;
    }

    &-column {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      &:nth-child(2) {
        margin-left: 52px;
      }

      &:nth-child(3) {
        margin-left: 45px;
      }

      &-header {
        display: flex;
        gap: 1rem;

        &-number {
          font-style: normal;
          font-weight: 250;
          font-size: 1.6rem;
          line-height: 1.8rem;

          display: flex;
          align-items: center;
          text-transform: uppercase;

          color: #898088;
        }
        &-title {
          font-weight: 700;
          font-size: 1.4rem;
          line-height: 1.7rem;

          letter-spacing: 0.2em;
          text-transform: uppercase;

          color: #f3f3f3;
        }
      }
      &-list {
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-top: 5px;
      }
    }

    &-item {
      display: flex;
      gap: 5px;
      width: 248px;
      &-icon {
      }
      &-link {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.6rem;

        color: #898088;
      }
    }
  }
  &__sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 27px;
    width: 227px;
    height: 516px;
    background: #433142;
    padding: 2rem;

    @include ut.desktop {
      padding: 3rem;
      gap: 46px;
      height: 695px;
      width: 302px;
      flex-shrink: 1;
    }

    &-title {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.2em;
      text-transform: uppercase;

      color: #898088;
    }

    &-appendix {
      position: absolute;
      width: 16px;
      height: 16px;
      top: 20px;
      right: 0;
      margin: 2px -7px 0 0px;

      background: #433142;
      transform: rotate(45deg);

      @include ut.desktop {
        margin: 0px -8px 0 0px;
        top: 32px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 2px;

      @include ut.desktop {
        gap: 6px;
      }

      &-link {
        width: 227px;
        height: 25px;

        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.5rem;

        letter-spacing: 0.2em;
        text-transform: uppercase;

        color: #f3f3f3;

        @include ut.desktop {
          font-weight: 700;
          font-size: 1.4rem;
          line-height: 1.7rem;
          letter-spacing: 0.2em;
          text-transform: uppercase;

          color: #f3f3f3;
        }
      }
    }

    &-button {
      display: none;

      @include ut.desktop {
        position: relative;

        margin: -23px 0 0px 0;

        outline: none;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        padding: 18px 40px;
        gap: 10px;

        width: 241px;
        height: 54px;

        background: #ffb701;
        border-radius: 5px;

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-transform: uppercase;
        color: #342633;
      }

      &-link {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
      }
    }
  }

  &__links-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__link {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5rem;

    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #f3f3f3;
    padding: 5px 0px;

    width: 320px;
    height: 25px;

    border-bottom: 1px solid #433142;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    color: #898088;
  }

  &__accordion {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;

    &-label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 20px;
    }

    &-input {
      display: none;

      &:checked ~ .services-menu__accordion-content {
        max-height: 100%;
        padding: 20px;
        transition: max-height 0.3s ease-in-out,
          background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
      }

      &:checked ~ .question__item-header .question__item-header-text {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.1rem;

        transition: all 0.3s ease-in-out;
      }

      &:checked
        ~ .services-menu__accordion-header
        .services-menu__accordion-header-icon {
        transform: rotate(-90deg);
        transition: all 0.3s ease-in-out;
      }
    }

    &-header {
      display: flex;
      justify-content: space-between;

      padding-bottom: 5px;
      border-bottom: 1px solid #433142;
      padding-right: 5px;

      &-text {
        font-style: normal;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.5rem;

        letter-spacing: 0.2em;
        text-transform: uppercase;

        color: #f3f3f3;
      }

      &-icon {
        transition: all 0.3s ease-in-out;
      }
    }

    &-content {
      max-height: 0;
      overflow: hidden;
      background: #433142;
      display: flex;
      flex-direction: column;
      gap: 10px;
      transition: max-height 0.3s ease-in-out, padding 0.3s 0.2s ease-in-out;

      &-header {
        display: flex;
        justify-content: space-between;
        padding: 0 0 10px 0;

        @include ut.desktop {
          justify-content: flex-start;
        }

        &-title {
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.2em;
          text-transform: uppercase;
          color: #898088;

          @include ut.tablet {
            font-style: normal;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 1.9rem;
            letter-spacing: 0.2em;
            text-transform: uppercase;
          }

          @include ut.desktop {
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: #898088;
          }
        }

        &-link {
          position: relative;
          display: flex;

          align-items: center;
          gap: 10px;

          @include ut.tablet {
            margin: 1px -11px 0px 0;
          }

          @include ut.desktop {
            margin: 2px 0 0 42px;
          }

          &-icon {
            width: 5px;
            height: 12px;
            transform: rotate(180deg);
          }

          &-text {
            flex: 0 0 auto;
            font-style: normal;
            font-weight: 700;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            color: #898088;
          }

          &-source {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

      &-accordion {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-label {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 60px;
        }

        &-input {
          display: none;

          &:checked ~ .services-menu__accordion-content-accordion-list {
            max-height: 214px;
            overflow: scroll;
            transition: max-height 0.3s ease-in-out,
              background-color 0.3s ease-in-out;
          }

          &:checked
            ~ .services-menu__accordion-content-accordion-header
            .services-menu__accordion-content-accordion-header-icon {
            transform: rotate(-90deg);
            transition: all 0.3s ease-in-out;
          }
        }

        &-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          padding: 20px;
          gap: 13px;

          width: 280px;
          height: 59px;
          background: #342633;
          border-radius: 5px;

          @include ut.tablet {
            width: 100%;
          }

          &-number {
            font-style: normal;
            font-weight: 250;
            font-size: 16px;
            line-height: 18px;

            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;

            color: #898088;
          }
          &-title {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;

            letter-spacing: 0.2em;
            text-transform: uppercase;

            color: #f3f3f3;
          }

          &-icon {
            transition: all 0.3s ease-in-out;
            margin-left: auto;
            width: 8px;
            height: 12px;
          }
        }

        &-list {
          display: flex;
          flex-direction: column;
          gap: 14px;

          max-height: 0;
          overflow: hidden;
          transition: all 0.3s ease-in-out;

          &-item {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            &-icon {
              width: 1.6rem;
              height: 1.6rem;
            }

            &-link {
              font-family: 'Gilroy';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;

              /* Black light */

              color: #898088;
            }
          }
        }
      }
    }
  }
}
