section.about
  .about__wrapper
    header.about__header
      .about__header-appendix
      h2.about__header-title Оценочная компания "Экспертиза и управление недвижимостью"
    .about__content
      .about__statistics
        .about__statistics-column
          .about__statistics-item
            span.about__statistics-item-title 1 327
            span.about__statistics-item-subtitle Выполненные экспертизы
          .about__statistics-item
            span.about__statistics-item-title 285
            span.about__statistics-item-subtitle Довольных клиентов
          .about__statistics-item
            span.about__statistics-item-title 1 327
            span.about__statistics-item-subtitle Выполненные экспертизы
        .about__statistics-column
          .about__statistics-item
            span.about__statistics-item-title 124
            span.about__statistics-item-subtitle Судебных экспертиз
          .about__statistics-item
            span.about__statistics-item-title 48  
            span.about__statistics-item-subtitle Обследование зданий
          .about__statistics-item
            span.about__statistics-item-title 124
            span.about__statistics-item-subtitle Судебных экспертиз
        .about__statistics-column
          .about__statistics-item
            span.about__statistics-item-title 124
            span.about__statistics-item-subtitle Судебных экспертиз
          .about__statistics-item
            span.about__statistics-item-title 48
            span.about__statistics-item-subtitle Обследование зданий
          .about__statistics-item
            span.about__statistics-item-title 124
            span.about__statistics-item-subtitle Судебных экспертиз
      .about__info
        .about__info-image
          img(src=`${imgUrl}/tas-agro-mobile.png`, alt="").about__info-image-source
        .about__info-content
          span.about__info-content-title Бобров Денис Вадимович
          span.about__info-content-subtitle Генеральный директор. Кадастровый инженер

        .about__info-content-appeal
          button.about__info-content-appeal-button 
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" class='about__info-content-appeal-button-img' xmlns="http://www.w3.org/2000/svg">
              <path d="M16.7074 12.2952L8.25877 6.38114C7.72855 6.00998 7 6.38931 7 7.03652V17.9635C7 18.6107 7.72855 18.99 8.25877 18.6189L16.7074 12.7048C16.8496 12.6053 16.8496 12.3947 16.7074 12.2952Z" fill="#FFB701"/>
            </svg>
          span.about__info-content-appeal-description Видеообращение для будущих клиентов
        .about__image.about__image_tablet
          img(src=`${imgUrl}/tas-agro-tablet.png`, alt="").about__info-image-source
        .about__image.about__image_desktop
          img(src=`${imgUrl}/tas-agro-desktop.png`, alt="").about__info-image-source
