@use 'styles/utils' as ut;
@use 'styles/variables' as vars;

.equipment {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 1.8rem 0 2rem 0;

  background: #fcfcfd;

  @include ut.tablet {
    padding: 2.5rem;
  }

  @include ut.desktop {
    padding: 8.2rem 0 0 0;
  }

  &__container {
    display: flex;
    flex-direction: column;

    width: 320px;
    gap: 2rem;

    @include ut.tablet {
      width: 726px;
      gap: 3.2rem;
    }

    @include ut.desktop {
      width: 1200px;
      gap: 50px;
    }
  }

  &__header {
    display: flex;

    @include ut.tablet {
      gap: 3rem;
    }

    @include ut.desktop {
      gap: 6.3rem;
    }

    &-appendix {
      display: none;

      @include ut.tablet {
        display: block;
        width: 40px;
        height: 5px;

        background-color: #c2d2df;

        margin-top: 1.1rem;
      }

      @include ut.desktop {
        margin-top: 1.9rem;
      }
    }

    &-title {
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.4rem;
      color: #342633;

      @include ut.tablet {
        font-size: 2.4rem;
        line-height: 2.9rem;
      }

      @include ut.desktop {
        font-style: normal;
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 3.2rem;
        color: #342633;
      }
    }

    &-link {
      display: none;

      @include ut.desktop {
        position: relative;
        display: flex;
        gap: 1rem;
        margin-left: auto;
      }

      &-icon {
        width: 2.4rem;
        height: 2.4rem;
      }

      &-text {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.2rem;

        display: flex;
        align-items: center;

        color: #111e2f;
      }

      &-source {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__button {
    display: none;

    @include ut.tablet {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;

      background: transparent;
      border: 2px solid #898088;
      border-radius: 50px;
    }
    transition: all 0.3s ease-in-out;

    &:hover {
      border-color: #342633;
      transition: all 0.3s ease-in-out;

      .equipment__button-image {
        path {
          stroke: #342633;
          stroke-width: 2;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    &-image {
      path {
        transition: all 0.3s ease-in-out;
      }
    }

    &_slide-prev {
      @include ut.desktop {
        margin: 0 0px 120px 0px;
      }
    }

    &_slide-next {
      margin: 0 7px 0px 0px;
      transform: rotate(180deg);

      @include ut.desktop {
        margin: 0 4px 117px 0px;
      }
    }
  }

  &__content {
    display: none;

    @include ut.desktop {
      display: flex;
      align-items: center;
      padding: 0 3rem;
    }
  }

  &__slider {
    width: 100%;
    height: 210px;

    @include ut.tablet {
      height: 186px;
      width: 580px;

      .swiper-scrollbar {
        display: none;
      }
    }

    @include ut.desktop {
      width: 960px;
      height: 319px;
    }

    &-wrapper {
    }

    &-slide {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 3rem;

    @include ut.tablet {
      gap: 2rem;
    }

    @include ut.desktop {
      display: none;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 10px;
    gap: 20px;

    width: 145px;
    height: 127px;

    @include ut.tablet {
      display: flex;
      justify-content: center;
      // align-items: center;

      width: 165px;
      height: 144px;
      gap: 13px;
    }

    @include ut.desktop {
      width: 272px;
      height: 202px;
      gap: 0;
    }

    &-image {
      width: 127px;
      height: 80px;

      @include ut.tablet {
        width: 145px;
        height: 93px;
      }

      @include ut.desktop {
        width: 260px;
        height: 166px;
      }

      &-source {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #342633;

      @include ut.tablet {
        font-size: 1.4rem;
        line-height: 1.7rem;
      }

      @include ut.desktop {
        font-size: 1.6rem;
        line-height: 1.9rem;
        margin-top: 17px;
      }
    }
  }
}
