extends /layouts/main/template

block content
  include /blocks/preview/template
  include /blocks/about/template
  include /blocks/advantages/template
  include /blocks/services/template
  include /blocks/consultation/template
  include /blocks/stages/template
  include /blocks/work/template
  include /blocks/trust/template
  include /blocks/collaborators/template
  include /blocks/consultation/template
  include /blocks/licenses/template
  include /blocks/equipment/template
  include /blocks/reviews/template
  include /blocks/videos/template
  include /blocks/questions/template
  include /blocks/contact-menu/template
  include /blocks/services-menu/template