@use 'styles/utils' as ut;
@use 'styles/variables' as vars;

.question {
  display: flex;
  justify-content: center;
  z-index: 3;

  width: 100%;
  padding: 2.2rem 0 0 0;

  background: #fcfcfd;

  @include ut.tablet {
    padding: 16px 0 0 0;
  }

  @include ut.desktop {
    padding: 32px 0 0 0;
  }

  &__container {
    display: flex;
    flex-direction: column;

    width: 320px;
    gap: 5rem;

    @include ut.tablet {
      width: 726px;
      gap: 3rem;
    }

    @include ut.desktop {
      width: 1200px;
      gap: 50px;
      padding: 0 0 5.9rem 0;
    }
  }

  &__header {
    display: flex;

    @include ut.tablet {
      gap: 3rem;
    }

    @include ut.desktop {
      gap: 6.3rem;
    }

    &-appendix {
      display: none;

      @include ut.tablet {
        display: block;
        width: 40px;
        height: 5px;

        background-color: #c2d2df;

        margin-top: 1.4rem;
      }

      @include ut.desktop {
        margin-top: 1.9rem;
      }
    }

    &-title {
      font-style: normal;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.4rem;
      color: #342633;

      @include ut.tablet {
        font-size: 2.4rem;
        line-height: 2.9rem;
      }

      @include ut.desktop {
        font-style: normal;
        font-weight: 400;
        font-size: 2.8rem;
        line-height: 3.2rem;
        color: #342633;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    @include ut.desktop {
      gap: 4rem;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    transition: all 0.3s ease-in-out;

    &:last-child {
      border: 1px solid rgba(#c2d2df, 0.1);
    }

    &:hover {
      .question__item-header-text {
        color: #ffb701;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }
    }

    &-label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    &-input {
      display: none;

      &:checked ~ .question__item-content {
        max-height: 100vh;
        background: #f3f3f3;
        padding: 2rem;
        transition: max-height 0.3s ease-in-out,
          background-color 0.3s ease-in-out;
      }

      &:checked ~ .question__item-header {
        padding: 15px 32px 0 20px;
        background: #f3f3f3;
        transition: all 0.3s ease-in-out;

        &-icon {
          transform: rotate(25deg);
          transition: all 0.3s ease-in-out;
        }
      }

      &:checked ~ .question__item-header .question__item-header-icon {
        transform: rotate(-90deg);
        margin: -16px -3px 0 0px;
        transition: all 0.3s ease-in-out;
      }

      &:checked ~ .question__item-header .question__item-header-text {
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.1rem;

        transition: all 0.3s ease-in-out;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.3s ease-in-out;
      gap: 3rem;

      &-text {
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2rem;
        transition: all 0.3s ease-in-out;

        color: #342633;
        cursor: pointer;

        @include ut.tablet {
          font-size: 1.4rem;
          line-height: 1.6rem;
        }

        @include ut.desktop {
          font-size: 1.8rem;
          line-height: 2.1rem;
        }
      }

      &-icon {
        width: 7px;
        height: 12px;
        transition: all 0.3s ease-in-out;
      }
    }

    &-content {
      max-height: 0;
      overflow: hidden;
      height: 100%;
      transition: all 0.3s ease-in-out;

      font-weight: 500;
      font-size: 1.6rem;
      line-height: 2.3rem;

      color: #898088;
    }
  }

  &__consultation {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: relative;
    margin: 0 0 -20px 0;
    width: 100%;
    padding: 2rem;
    z-index: 3;

    background: white;

    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);

    @include ut.tablet {
      padding: 3rem;
      margin: 0 0 -33px 0;
    }

    @include ut.desktop {
      margin: 0 0 -104px 0;
      padding: 4rem;
    }

    &-header {
      &-title {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.4rem;
        color: #262c34;

        @include ut.tablet {
          font-size: 2.4rem;
          line-height: 2.9rem;
        }

        @include ut.desktop {
          font-size: 2.8rem;
          line-height: 3.2rem;
        }
      }
    }

    &-content {
      display: flex;
      gap: 2rem;
      flex-direction: column;

      @include ut.tablet {
        flex-direction: row;
      }

      @include ut.desktop {
        gap: 5rem;
      }

      &-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @include ut.tablet {
          &:first-child,
          &:last-child {
            width: 197px;
          }
          width: 226px;
        }

        @include ut.desktop {
          width: 340px;
          &:first-child,
          &:last-child {
            width: 340px;
          }
        }

        &-caption {
          font-style: normal;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 1.6rem;

          color: #283c63;
        }

        &-input {
          background: #ffffff;

          border-radius: 4px;
          border: 1px solid #e2e1f2;

          padding: 1.2rem;

          font-style: normal;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 1.6rem;

          color: #828282;
        }
      }
    }

    &-submit {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include ut.tablet {
        flex-direction: row-reverse;
        justify-content: flex-end;
      }

      @include ut.desktop {
        gap: 5rem;
      }

      &-badge {
        display: flex;
        align-items: center;
        gap: 2rem;

        &-icon {
          width: 4rem;
          height: 4rem;
        }

        &-text {
          font-weight: 400;
          font-size: 1.4rem;
          line-height: 1.8rem;

          display: flex;
          align-items: center;

          color: #898088;

          @include ut.tablet {
            width: 162px;

            font-size: 1.1rem;
            line-height: 1.8rem;
          }

          @include ut.desktop {
            width: 256px;
            font-size: 1.4rem;
            line-height: 1.8rem;
          }
        }
      }

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 18px 40px;
        gap: 10px;

        width: 100%;
        height: 40px;

        background: #ffb701;
        border-radius: 5px;
        border: none;
        outline: none;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.5rem;

        text-transform: uppercase;

        color: #262c34;

        @include ut.tablet {
          width: 197px;
          height: 40px;
          padding: 12.5px;
        }

        @include ut.desktop {
          width: 340px;
          height: 54px;
          padding: 18px 40px;
        }
      }
    }
  }
}
